<!DOCTYPE html>
<html lang="en">
<head>
<style>
	.parent-container {
	  display: grid;
          place-items: center;
	}

	.textbox {
          margin-bottom: 5px;
	}

        label {
          width: 150px;
          display: inline-block;
        }

	input {
          width: 230px;
          padding: 0px;
          margin-left: 5px;
        }

	body {background-color: lightblue; font-family: Arial}
	h5	{text-align: right;}
</style>

</head>

<body style='margin-top:20; margin-left:20; margin-right:20; '>

<h1> <b>WORD SHUFFLER GAME </b> </h1>

<h2> <b> REGISTRATION </b></h2>

<p><b>PERSONAL INFORMATION</b></p>

<form action="/register/process_form" id="createAccountForm" method="post">
<!-- <form action="process_form" method="post"> -->
	{% csrf_token %}

	<div class="textbox">
	<label for="firstname"> First Name: </label>
	<input type="text" id="firstname" name="firstname">
	</div>
	<br>

	<div class="textbox">
	<label for="lastname"> Last Name: </label>
	<input type="text" id="lastname" name="lastname">
	</div>
	<br>

	<div class="textbox">
	<label for="country"> Country: </label>
	<input type="text" id="country" name="country">
	</div>
	<br>

	<div class="textbox">
	<label for="city"> City: </label>
	<input type="text" id="city" name="city">
	</div>
	<br>

	<div class="textbox">
	<label for="email"> Email: </label>
	<input type="text" id="email" name="email">
	</div>
	<br>

	<div class="textbox">
	<label for="mobile"> Mobile: </label>
	<input type="text" id="mobile" name="mobile">
	</div>
	<br>

	<div class="textbox">
	<label for="username"> Create Username: </label>
	<input type="text" id="username" name="username">
	</div>
	<br>

	<div class="textbox">
	<label for="password"> Create Password: </label>
	<input type="text" id="password", name="password">
	</div>
	<br>
	<button type="submit" onclick="submitForm()">Create Account</button>
</form>

<script>
	function submitForm() {
		const form = document.getElementById('createAccountForm');
		const formData = new FormData(form);

		const firstname = document.getElementById('firstname').value;
		const lastname = document.getElementById('lastname').value;
		const country = document.getElementById('country').value;
		const city = document.getElementById('city').value;
		const email = document.getElementById('email').value;
		const mobile = document.getElementById('mobile').value;
		const username = document.getElementById('username').value;
		const password = document.getElementById('password').value;

		formData.append('firstname', firstname);
		formData.append('lastname', lastname);
		formData.append('country', country);
		formData.append('city', city);
		formData.append('email', email);
		formData.append('mobile', mobile);
		formData.append('username', username);
		formData.append('password', password);

		// fetch('{% url "process_form" %}', {
		fetch('/register/process_form', {
			method: 'POST',
			body: formData
		})
		.then(response => response.json())
		.then(data => {
				//Display the message as a pop-up alert
				alert(data.message);

				if (response.ok) {
				//Redirect to the homepage
				window.location.href = 'http://18.217.84.31:8200/homepage';
			}
		})
		.catch(error => {
			console.error('Error:', error);
		});
	}
</script>

<br>

<!-- Button to go to the homepage -->
<button type="button" onclick="window.location.href='http://18.217.84.31:8200/homepage';">Home</button>

<style>
   #developer-info {
      position: fixed;
      bottom: 50px;
      left: 10px;
      font-size: 16px;
      text-align: left;
      padding: 5px'
   }

</style>

<div id="developer-info">
    <p style="margin: 0;"><b>Developed By: Mark Eliezer Arnoco </b> || Version: 2.01 || Last Update: January 10, 2024 </p>

</body>
</html>
