<!DOCTYPE html>
<html lang="en">
<head>
<style>
	.parent-container {
		display: grid;
		place-items: center;
	  }
	body {background-color: lightblue; font-family: Arial}
	h5	{text-align: right;}
</style>

</head>

<body style='margin-top:20; margin-left:20; margin-right:20; '>

<h2>Registration successful!</h2>

<p><a href="http://18.217.84.31:8200/homepage/">Sign in</a> to your newly created account</p>

<style>
   #developer-info {
      position: fixed;
      bottom: 50px;
      left: 10px;
      font-size: 16px;
      text-align: left;
      padding: 5px'
   }

</style>

<div id="developer-info">
    <p style="margin: 0;"><b>Developed By: Mark Eliezer Arnoco </b> || Version: 2.01 || Last Update: January 10, 2024 </p>

</body>
</html>
